
.movie-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  width: 200px;
  text-align: center;
  color: #000;
}

.movie-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.movie-details {
  text-align: left;
}

.movie-details h3 {
  margin: 10px 0;
  color: #000; 
}

.movie-details p {
  margin: 5px 0;
  color: #000; 
}
